extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | Sound Box
          small &nbsp;Hear about the Latest Entertainment news!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/blog') Music
            small &nbsp;
          p.tagline Dive into the Music World!
          p
            span.label.label-warning Latest music
            | &nbsp;
            span.label.label-warning Reviews
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/blog2') Movies
            small &nbsp;
          p.tagline Know about the latest Movies!
          p
            span.label.label-warning Movies
            | &nbsp;
            span.label.label-warning Reviews
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/blog3') Concerts
            small &nbsp;
          p.tagline Indulge in your favourite Musical Concerts!
          p
            span.label.label-warning Places
            | &nbsp;
            span.label.label-warning Passes
            | &nbsp;
            span.label.label-warning Reviews
            | &nbsp;
    .col-xs-12.col-sm-4
      p.lead
        | Connecting You to the Heartbeat of the Global Music Scene: Comprehensive Coverage on Every Note, from Groundbreaking Album Releases to the Latest Festival Whispers, Movie Soundtracks, and TV Show Anthems. Your Ultimate Guide to the Rhythms that Shape Our World.
