extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | Movies
          small &nbsp;Know about the latest Movies!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/blog2/details') Jawaan
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
          p.director Atlee Kumar
          p
            span.label.label-warning Shah Rukh Khan
            | &nbsp;
            span.label.label-warning Nayanathara
            | &nbsp;
            span.label.label-warning Deepika Padukone
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/blog2/details2') Jailer
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
          p.director Nelson Dilipkumar
          p
            span.label.label-warning Rajinikanth
            | &nbsp;
            span.label.label-warning Ramya Krishna
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/blog2/details3') Kushi
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
          p.director Shiva Nirvana
          p
            span.label.label-warning Vijay Deverakonda
            | &nbsp;
            span.label.label-warning Samantha Ruth Prabhu
            | &nbsp;
    .col-xs-12.col-sm-4