extends layout
block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p Your All-Access Pass to the World of Music and Entertainment: From the Eagerly-Awaited Echoes of Upcoming Albums to the Distant Drums of Festival Rumors, and the Resonating Reviews of Films and TV Soundtracks. Delve Deep into a Symphony of Stories, Interviews, Behind-the-Scenes, and Expert Opinions, All Meticulously Curated to Keep You Atop the Ever-Evolving Global Entertainment Landscape. When It's About Music, We Don't Skip a Beat.
